<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 匹配文件输出格式 -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd  HH:mm:ss} %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>
	

	<!-- 日志过滤 -->
	<logger name="com.jolbox.bonecp" additivity="false" level="TRACE">
		<appender-ref ref="console" />
	</logger>
	
	<logger name="com.uxuan.util" additivity="false" level="TRACE"> 
		<appender-ref ref="console" />
	</logger>

	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>